<a href="https://cults3d.com/en/3d-model/art/tintin-rocket-stronger-and-accurate-model"> old link </a>

<br><br>
<a href="https://blog.prusa3d.com/the-prusacaster-how-to-design-and-3d-print-an-electric-guitar_71962/"> Honeycomb electric guitar with lots of info (Prusa Blog)</a>

<br><br>
<a href="https://www.gad.net/Blog/2020/04/05/3d-printed-guitar/"> GAD a guy who made a guitar fits on the Voron</a>

<br><br>
<a href="https://www.thingiverse.com/thing:1068688"> Black Widow on thingiverse</a>
