<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fritzing Bill of Materials</title>
<style type="text/css">
.meta {
	font-size: small;
	margin: 0.4em 0;
}
table {
	border-collapse: collapse;
}
th {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid black;
	padding: 0.1em 1.5em 0.2em 0.1em;
}
td {
	border-bottom: 1px solid #CCC;
	padding: 0.5em 1.5em 0.5em 0.1em;
}
.props {
	font-size: smaller;
}
</style>
</head>

<body>
<h1>Bill of Materials: ArduStompPCB03.fzz</h1>
<p class="meta">/home/bob/ArduGuitar/arduino/Layouts/ArduStomp/ArduStompPCB03.fzz</p>
<p class="meta">Monday, November 18 2013, 10:19:19</p>

<h2>Assembly List</h2>
<table>

  <thead>
   <tr>
    <th>Label</th>
    <th>Part Type</th>
    <th>Properties</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>5v GND out</td>
    <td>Generic male header - 2 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 2; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>9v IN</td>
    <td>Generic male header - 2 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 2; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>Arduino MICRO (analog)</td>
    <td>Generic female header - 17 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♀ (female); pins 17; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>Arduino Micro (digital)</td>
    <td>Generic female header - 17 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♀ (female); pins 17; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>Bluetooth</td>
    <td>Generic female header - 6 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♀ (female); pins 6; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>LED-00</td>
    <td>Generic male header - 8 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 8; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>LED-01</td>
    <td>Generic male header - 8 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 8; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>R00</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R01</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R02</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R03</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R04</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R05</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R06</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R07</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R08</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R09</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R10</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R11</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R12</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R13</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R14</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R15</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R17</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R18</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R19</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R20</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R21</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R22</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R23</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R24</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R25</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>R26</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>SD card</td>
    <td>Generic male header - 8 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 8; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>Shift-00</td>
    <td>SHIFT REGISTER</td>
    <td class="props">package dil16; chip 74*595; variant n</td>
</tr><tr>
    <td>Shift-01</td>
    <td>SHIFT REGISTER</td>
    <td class="props">package dil16; chip 74*595; variant n</td>
</tr><tr>
    <td>Switches</td>
    <td>Generic male header - 10 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 10; pin spacing 0.1in (2.54mm)</td>
</tr>
  </tbody>
</table>
<h2>Shopping List</h2>
<table>
  <thead>
	<tr>
    <th>Amount</th>
    <th>Part Type</th>
    <th>Properties</th>
    </tr>
  </thead>
  <tbody>
<tr>
    <td>2</td>
    <td>Generic male header - 2 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 2; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>2</td>
    <td>Generic female header - 17 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♀ (female); pins 17; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>1</td>
    <td>Generic female header - 6 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♀ (female); pins 6; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>3</td>
    <td>Generic male header - 8 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 8; pin spacing 0.1in (2.54mm)</td>
</tr><tr>
    <td>16</td>
    <td>1k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 1kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>10</td>
    <td>10k Ω Resistor</td>
    <td class="props">package THT; tolerance ±5%; bands 4; resistance 10kΩ; pin spacing 400 mil</td>
</tr><tr>
    <td>2</td>
    <td>SHIFT REGISTER</td>
    <td class="props">package dil16; chip 74*595; variant n</td>
</tr><tr>
    <td>1</td>
    <td>Generic male header - 10 pins</td>
    <td class="props">package THT; hole size 1.0mm,0.508mm; row single; form ♂ (male); pins 10; pin spacing 0.1in (2.54mm)</td>
</tr>
  </tbody>
</table>
<p class="meta"><br/>Exported with Fritzing 0.8.3- http://fritzing.org</p>
</body>
</html>
